.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

}
.icon{
border: none;
align-items: center;
justify-content: center;
width: 50%;
}
.icon:hover{
  transform: scale(1.1);
  cursor: pointer;
  
}
.icon .tel{
color: green;
}